/*
  样式规范表
*/

$min-width:1226px; //容器安全区域宽度
// 常规字体大小设置

// 常规配色设置

$colorAll: #2476C2 !default; //系统主色
$colorA: #1F8FFF !default; //常规随访
$colorB: #21CDA5 !default; //生存随访
$colorC: #29BCB8 !default; //专题随访
$colorD: #D81E06 !default; //肿瘤随访
$colorE: #ECC25A !default; //系统管理

